@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --background-color: #E3E6F3;
    --light-color: #088178;
    --light-color2: #2ea29a;
    --light-white-color: #f3f4f8;
    --dark-text-color: #1a1a1a;
    --dark-white-color: #dedede;
    --dark-color: #06695f;
    --dark-color-transluscent: #06695f72;
}

* {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

/* NavBar */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: var(--background-color);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
}

.logo {
    width: 50%;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
}

#navbar li {
    list-style-type: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-text-color);
    transition: 0.6s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--light-color);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 3px;
    background: var(--light-color);
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}

#navbar input[type=text],
#navbar button {
    padding: 10px;
    font-size: 16px;
}

#search-bar {
    border: none;
    font-size: 17px;
    border-radius: 5px;
    background-color: var(--light-white-color);
    width: 650px;
    height: 30px;
}

#search-button {
    padding: 6px 12px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--light-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: var(--dark-color);
}

/* Home Page */
#hero {
    height: 90vh;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.hero-texts {
    padding: 0 80px;
}

.hero-texts h4 {
    font-size: 25px;
    margin: 0;
}
.hero-texts h2,
.hero-texts h1 {
    font-size: 35px;
    margin: 0;
    color: var(--light-color2);
} 

.hero-texts p {
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 15px;
}

#hero button {
    background-image: url("/assets/imgs/button_splash3.png");
    background-color: transparent;
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    font-size: 25px;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
}

.hero-background {
    position: absolute;
    right: 0;
    top: 15%;
    bottom: 0;
    left: 20%;
    z-index: -1;
    width: 80%;
    height: 80%;
}

.hero-background img {
    max-width: 100%;
    height: auto;
}


/* CATEGORIES */
.categories {
    display: flex;
    flex-direction: column;
}

.categories-header {
    text-align: center;
    width: 100%;
}

.category-sections {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    text-align: center;
}

.category img {
    width: 50%;
    height: auto;
    border-radius: 50px;
    border: #088178;
    border-style: solid;
    transition: 0.5s;
}

.category img:hover {
    background-color: var(--dark-color-transluscent);
    transform: scale(1.2);
}

.for-you .listings {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: #088178;
    border-style: solid;
}

.for-you .listed {
    width: calc(20% - 10px);
    background-color: var(--light-white-color);
    border: 1px solid var(--light-color2);
    box-sizing: border-box;
}